name: CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container: 
      image: node:lts
    steps:
      - uses: actions/checkout@v3
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: npm install --ignore-scripts --include=dev
      - name: Run linter
        run: npx eslint
        
    
